@import "tailwindcss";
/* Egendefinert font */
:root {
  --font-sans: "Comic Sans MS", "Comic Sans", cursive;
}

/* Ekstra global styling (valgfritt) */
body {
  font-family: var(--font-sans);
  background-color: rgb(69, 69, 69);
}
