---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout
  title="Gard Sæbbe – CV"
  description="Curriculum Vitae for Gard Sæbbe"
  backgroundImage="/public/me-background.jpg"
>
  <div
    class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-4"
  >
    <div class="space-y-4 sm:space-y-12">
      <H1>Gard Epland Sæbbe</H1>
      <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
        Bergen, Norge | +47 925 77 613 | g.saebbe@hotmail.com |
        <a href="https://github.com/gardsaebbe" class="underline text-zinc-400"
          >GitHub</a
        >
      </p>
    </div>

    <div class="space-y-8 text-base sm:text-lg">
      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Utdanning
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>
            UiB / Informatikk-matematikk-økonomi bachelor (august 2024 - juni
            2026) – Programmering, Statistikk, Økonomi
          </li>
          <li>Danielsen Intensivgymnas (januar - juni 2024)</li>
          <li>
            Høyskolen Kristiania / IT - Frontend & App Development (august -
            desember 2023) – Programmering i HTML, CSS, JS, SQL
          </li>
          <li>
            UiT Norges arktiske universitet / Energi, Klima og Miljø (august
            2021 - juni 2023) – Lineær algebra, Python, fysikk, statistikk
          </li>
        </ul>
      </section>

      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Arbeidserfaring
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>Assistent i bofellesskap / Bergen kommune (juni 2025 - d.d.)</li>
          <li>Ferievikar assistent / Helse Bergen (juni - august 2024)</li>
          <li>
            Deltid butikkansatt / Session Lagunen (mai 2021 - februar 2024)
          </li>
          <li>Servitør / Blå Rock Café (mars 2022 - februar 2023)</li>
          <li>
            Førstegangstjeneste / Norwegian Army, Lagfører (august - desember
            2021)
          </li>
          <li>Butikkansatt / Pizzabakeren Lagunen (juni - august 2015)</li>
          <li>Støttekontakt / Bergen Kommune (juni - desember 2019)</li>
          <li>Ferievikar digitalisering / TV2 (januar - oktober 2019)</li>
        </ul>
      </section>

      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Kurs og sertifikater
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>Lagførerkurs / Forsvaret (juli 2020)</li>
          <li>Førstehjelpskurs / Forsvaret (februar 2020)</li>
          <li>Førerkort klasse B (desember 2018)</li>
        </ul>
      </section>

      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Annet arbeid & hobby
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>
            Frilans film & musikkbooking (2024 - d.d.) – Arrangerer konserter i
            Bergen og driver videoproduksjon og andre oppdrag gjennom
            enkeltpersonforetak
          </li>
          <li>
            3D-modellering for renovering av Fløya skatepark (vinter 2021) /
            Tromsø Brettklubb
          </li>
          <li>
            Representant for skateboardscenen i Bergen (2016-2020) – Samarbeidet
            med kommunen for realisering av skatepark
          </li>
        </ul>
      </section>

      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Ferdigheter & interesser
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>Språk: Engelsk (flytende), Norsk (morsmål)</li>
          <li>
            Programmering: Python, HTML, CSS, JavaScript, TypeScript, SQL, Java,
            R, Astro, React
          </li>
          <li>
            Personlige interesser: Gitar, foto, video, klatring, skateboard,
            løping, konserter, programmering
          </li>
          <li>
            Profesjonelle interesser: Fornybar energi, matematikk, programmering
          </li>
        </ul>
      </section>

      <section>
        <h2
          class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
        >
          Referanser
        </h2>
        <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>
            Audun Selsvold – Leder Bispengsgaten 21 Bofellesskap, E-post:
            audun.selsvold@bergen.kommune.no, Tlf: 408 14 767
          </li>
          <li>
            Niphattra Vestbø – Driftskoordinator HD Renhold Seksjon 4, Helse
            Bergen, E-post: niphattra.vestbo@helse-bergen.no, Tlf: 908 32 528
          </li>
        </ul>
      </section>
    </div>
  </div>
</InfoLayout>
