---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Gallery from "../components/gallery";

const images = [
  {
    src: "/website2.0/1.jpg",
    alt: "Bilde 1",
    caption: "Hvitmalt Gjerde på Dragefjellet Minifestival 02.08.2025",
  },
  {
    src: "/website2.0/8.jpg",
    alt: "Bilde 8",
    caption: "Superføkk på Dragefjellet Minifestival 02.08.2025",
  },
  {
    src: "/website2.0/2.jpg",
    alt: "Bilde 2",
    caption: "Venner på Dragefjellet Minifestival 02.08.2025 :-)",
  },
  {
    src: "/website2.0/3.jpg",
    alt: "Bilde 3",
    caption: "Bare Folk på Landmark 04.07.2025",
  },
  {
    src: "/website2.0/4.jpg",
    alt: "Bilde 4",
    caption: "Orlando: ollie på fløen sommer 2025",
  },
  {
    src: "/website2.0/5.jpg",
    alt: "Bilde 5",
    caption: "En dårlig parkert bil på Nordnes :O",
  },
  {
    src: "/website2.0/9.jpg",
    alt: "Bilde 9",
    caption: "ASININ, Oslo, juni 2025",
  },
  {
    src: "/website2.0/7.jpg",
    alt: "Bilde 7",
    caption: "Hvitmalt Gjerde på Rommet 19.09.2025",
  },
  {
    src: "/website2.0/11.jpg",
    alt: "Bilde 11",
    caption: "Hvitmalt Gjerde på Rommet 19.09.2025",
  },
  {
    src: "/website2.0/10.jpg",
    alt: "Bilde 10",
    caption: "Shament, København sommer 2025",
  },
  { src: "/website2.0/12.jpg", alt: "Bilde 12", caption: "Skate våren 2024" },
  { src: "/website2.0/13.jpg", alt: "Bilde 13", caption: "Skate høsten 2024" },
];
---

<InfoLayout
  title="Gard Sæbbe – Bildegalleri"
  description="Foto og bilder fra konserter, skate og venner"
  backgroundImage="/public/me-background.jpg"
>
  <div class="p-4 sm:pt-8 sm:px-8 lg:px-12 pb-24 min-h-dvh flex flex-col gap-6">
    <!-- Header -->
    <div class="text-center sm:text-left">
      <H1 className="text-2xl sm:text-4xl">Bildegalleri</H1>
      <p
        class="mt-4 sm:mt-6 text-base sm:text-lg xl:text-xl text-zinc-500 text-balance"
      >
        I sommer kjøpte jeg analog-kamera, som har resultert i en stor interesse
        for foto. Her er noen bilder fra konserter og sosiale sammenkomster med
        mine venner :)
      </p>
    </div>

    <!-- Gallery -->
    <div class="mt-8">
      <Gallery images={images} client:only="react" />
    </div>
  </div>
</InfoLayout>
