---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Gallery from "../components/gallery";
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-8 lg:px-12 pb-24 min-h-dvh">
    <H1 className="text-2xl sm:text-4xl">Videogalleri</H1>

    <p
      class="mt-4 sm:mt-6 text-base sm:text-lg xl:text-xl text-zinc-500 text-balance"
    >
      Jeg har drevet med skateboard i 15 책r, og har de siste 책rene g책tt over til
      en mer aktiv rolle som filmer. Dette har gitt meg muligheter til 책 reise
      rundt i Europa, og her er noe av det jeg har filmet for andre merker!
    </p>

    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="aspect-video">
        <iframe
          src="https://www.youtube.com/embed/GHlBB86FKd4?si=2NGcTKC_53jxlcJU"
          title="YouTube video player"
          class="w-full h-full rounded-lg"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="aspect-video">
        <iframe
          src="https://www.youtube.com/embed/hku6k9_aADo?si=GhkN-G7yUAuv4XCJ"
          title="YouTube video player"
          class="w-full h-full rounded-lg"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="aspect-video">
        <iframe
          src="https://www.youtube.com/embed/J80v-nx4F38?si=Y2_3oknsvlu6H7Gs"
          title="YouTube video player"
          class="w-full h-full rounded-lg"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</InfoLayout>
