---
import Link from "../components/link.astro";

const pathname = Astro.url.pathname;
---

<footer class="fixed bottom-0 bg-zinc-900 py-4 rounded-t-4xl">
  <div class="px-4 sm:px-12 flex items-center justify-between gap-4 sm:gap-8">
    <div class="flex items-center gap-4 sm:gap-8">
      <Link href="/website2.0/about" variant="secondary">CV</Link>
      <Link href="/website2.0/photo-gallery" variant="secondary"
        >Fotogalleri</Link
      >
      <Link href="/website2.0/video-gallery" variant="secondary"
        >Videogalleri</Link
      >
    </div>
  </div>
</footer>
